
.App {
  position: relative;
  width:1000px;
  height:460px;
  background-color:green;
  box-shadow:0px 0px 0px 10px white inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App::before {
    content:"";
    background-color:green;
    position: absolute;
    height: 500px;
    width: 1040px;
    left: -20px;
    top: -20px;
    z-index: -1;
}

.info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
  text-transform: uppercase;
}

.set2 {
  margin-right: 60px;
}

.set1 {
  margin-right: 80px;
}

.serv {
  margin-right: 50px;
}

.gam {
  margin-right: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

.player {
  user-select: none;
  width: 300px;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

.serving {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70px;
  font-size: 2.5rem;
  text-align: center;
  background-color: gray;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  font-size: 2.5rem;
  background-color: gray;
}


